nav{
  padding-left: 10%;
  background-color: red !important;
}
form{
  margin: 10% 0 0 10%;
}
a{
  list-style: none;
  color: white !important;
}
.select{
  width: 25%;
  margin-top: -5%;
}
/* Select.option {
  background-color: rgb(166, 165, 165) !important;
  line-height: 20px;
} */

.next{
  position: fixed;
  padding: 5px 40px;
  background-color: red;
  color: white;
  bottom: 10%;
  right: 20%;
  border: solid 0.2px gray;
}
.back{
    position: fixed;
    padding: 5px 40px;
    background-color: red;
    color: white;
    bottom: 10%;
    right: 27.5%;
    border: solid 0.2px gray;
}
hr{
  display: inline-block;
  width: 350px;
  margin: 0 100px;
  color: rgb(19, 19, 19);
}
.gen{
  padding: 0 0 20px 0;
  display: flex;
  margin-top: -5%;
  align-items: center;
}
.vs{
  margin: 0 35%;
}
#generalInput{
  margin: 5% 0;
  width: 37%;
}
textarea{
  margin-top: 5%;
}
thead{
  background-color: red;
  color: white;
}
table{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
}
.homeoraway{
  width:20%;
}
.three{
  margin-top: 80px;
}
.endDate{
  margin-left: 20px;
}
p{
  display: inline;
}
button{
    position: fixed;
    padding: 5px 40px;
    background-color: red;
    color: white;
    bottom: 10%;
    right: 20%;
    border: solid 0.2px gray;
}
table,td {
  border-style: none !important;
}

